[Unit]
Description=Weather Report Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart= /bin/sh -c 'wall $(curl wttr.in?format=3)'

[Install]
WantedBy=default.target